html {
    font-size: 10px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    --btn_color: #00BFFF;
    --black: #000000;
    --grey: #969697;
    --white: #FFFFFF;
    --border_color: #707070;
}

body {
    margin: 0;
    padding: 3rem 4.5rem;
    box-sizing: border-box;
    height: 100vh;
}

/* Page 1 */
.main {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 3.7rem 4.6rem;
    box-sizing: border-box;
}

.main>div {
    width: 50%;
}

/* Logo field*/
.logo {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    height: 80%;
    border-right: 10px solid #FFA500;
    background-position: center center;
}

/* Registration field*/
.reg {
    padding: 0rem 5rem;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.reg_menu {
    display: flex;
    flex-direction: column;
}

.reg_menu>label {
    color: var(--grey);
    font-size: 2.8rem;
    margin-top: 2rem;
}

.reg_field {
    width: 522px;
    padding: 3rem;
    box-sizing: border-box;
    color: var(--black);
    font-size: 2rem;
}

.enter_btn {
    width: 222px;
    align-self: flex-end;
    padding: 2rem 7rem;
    background-color: var(--btn_color);
    margin-top: 4rem;
    border-radius: 10px;
    border: 1px solid var(--btn_color);
    color: var(--black);
    font-weight: 700;
    font-size: 2.4rem;
    text-decoration: none;
    color: var(--black);
    text-align: center;
    box-sizing: border-box;
}

.forgot {
    color: var(--grey);
    font-size: 1.8rem;
    margin-top: 2rem;
    align-self: flex-end;
}

.forgot:hover {
    cursor: pointer;
}

/* Header for all pages */
header {
    background-image: url(../img/header.png);
    height: 10%;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--black);
    box-shadow: 3px 3px 6px var(--black);
}

.header_list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
    margin: 0 4rem;
}

.header_list>li:hover {
    cursor: pointer;
}

.picture_bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    width: 68px;
    height: 68px;
    border-radius: 50%;
}

.special_item {
    display: flex;
    align-items: center;
}

.users_btn {
    text-decoration: none;
    color: var(--white);
    font-size: 2.4rem;
    margin-left: 1rem;
}

/* Add CPO page */

main {
    width: 100%;
    height: 90%;
    box-sizing: border-box;
}

/* Refresh box */
.refresh_box {
    display: flex;
    justify-content: end;
    padding: 2.5rem 0;
    box-sizing: border-box;
}

.refresh_box>div:hover {
    cursor: pointer;
}

.refresh_btn1 {
    background-color: var(--btn_color);
    text-align: center;
    padding: 1.5rem 2rem;
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
    border: 1px solid var(--border_color);
    box-sizing: border-box;

}

.refresh_btn2 {
    background-color: var(--black);
    width: 55px;
    padding: 1.5rem;
    box-sizing: border-box;
}

/* Main section */
.main_section {
    display: flex;
    border: 1px solid var(--border_color);
    width: 100%;
    height: 85%;
}

.without_ref_btn {
    height: 100%;
}

.navigation {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-right: 1px solid var(--border_color);
}

.navigation_list {
    margin: 10rem 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navigation_list_item {
    color: var(--black);
    font-size: 2.4rem;
    margin-top: 3rem;
    display: flex;
    transition: .5s;
}

.navigation_list_item:hover {
    cursor: pointer;
    color: var(--btn_color);
    font-size: 2.6rem;
}

.navigation_list_item>div {
    padding-left: 1.5rem;
}

.active_item {
    font-weight: 700;
}

.work_field {
    width: 80%;
    box-sizing: border-box;
}

.work_field_header {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
}

.people_icon {
    color: var(--grey);
    font-size: 2.4rem;
    font-weight: 700;
}

.work_head_list {
    display: flex;
    justify-content: center;
    width: 25%;
    list-style-type: none;
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
    padding: 0;
}

ul.work_head_list>li:hover {
    cursor: pointer;
}

.work_head_list_item1 {
    background-color: #a2a3a4;
    padding: 1rem 0;
    margin: 0 1rem;
    box-sizing: border-box;
    border-radius: 10px;
    width: 144px;
    text-align: center;
}

.work_head_list_item2 {
    background-color: var(--btn_color);
    padding: 1rem 0;
    box-sizing: border-box;
    border-radius: 10px;
    width: 144px;
    text-align: center;
    margin: 0 1rem;
}

.work_field_form {
    display: flex;
    flex-direction: column;
    margin: 0rem 10rem;
    width: 60%;
}

form.work_field_form label {
    color: var(--grey);
    font-size: 2rem;
    font-weight: 300;
    margin: 0 1rem;
}

form.work_field_form input {
    padding: 1.5rem 4.5rem;
    margin-bottom: 2rem;
    border: 1px solid var(--border_color);
}

form.work_field_form>div {
    display: flex;
    justify-content: space-between;
}

.special_forms {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.token {
    width: 100%;
    position: relative;
}

.token_btn {
    position: absolute;
    right: 0px;
    top: 26px;
    background-color: var(--btn_color);
    font-size: 2rem;
    font-weight: 700;
    color: var(--white);
    padding: 1rem 3rem;
}

.token_btn::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 22px;
    background-image: url(../img/key.svg);
    background-repeat: no-repeat;
}

.token_btn:hover {
    cursor: pointer;
}

/* USERS */

.users_main {
    padding-top: 10rem;
}

.invite_box {
    display: flex;
    justify-content: end;
    margin: 1rem 0;
}

.invite_box>div:hover {
    cursor: pointer;
}

.invite_btn1 {
    background-color: var(--btn_color);
    text-align: center;
    padding: 1.4rem 2rem;
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
    border: 1px solid var(--border_color);
    box-sizing: border-box;

}

.invite_btn2 {
    background-color: var(--black);
    width: 55px;
    padding: 1.2rem;
    box-sizing: border-box;
}

.search_box {
    width: 80%;
    margin: 10rem auto;
}

.status_btn {
    color: var(--black);
    font-size: 2rem;
    width: 20%;
    padding: 1.5rem;
    box-sizing: border-box;
}

.search_field {
    color: var(--black);
    font-size: 2rem;
    width: 75%;
    padding: 1.5rem 6rem;
    box-sizing: border-box;
    margin-left: 2rem;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
}

.search_list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.search_list_item {
    color: var(--grey);
    font-size: 2rem;
    margin: 2rem 0;
    padding: 1.5rem;
    transition: all .5s;
}

.search_list_item:hover {
    background-color: var(--btn_color);
    color: var(--white);
    cursor: pointer;
    border-radius: 10px;
}

/* Charging Station 2 */
.first_half {
    border-bottom: 1px solid var(--black);
}

.first_half>div {
    margin-left: 10rem;
    margin-right: 2rem;
}

.charg_title {
    font-size: 2.4rem;
    font-weight: 700;
}

.search_container {
    display: flex;
    margin: 2rem 0;
}

.select_field {
    width: 25%;
    padding-left: 2rem;
    box-sizing: border-box;
    color: var(--grey);
    font-size: 2rem;
    font-weight: 700;
}

.lists_box {
    margin-top: 2rem;
}

.charg_list {
    padding: 0;
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: var(--grey);
    font-size: 2rem;
    font-weight: 700;
}

.charg_list_container {
    background-color: rgba(214, 214, 214, 0.16);
    margin: 1rem 0;
}

.charg_list_item {
    padding: 0.5rem 2rem;
    box-sizing: border-box;
}

.charg_list_container_clear {
    background-color: rgba(214, 214, 214, 0.16);
    padding: 2.5rem;
    box-sizing: border-box;
    margin: 1rem 0;
}

.scroll_block {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
}

.scroll_block>div {
    width: 43px;
    border: 1px solid var(--border_color);
    text-align: center;
    padding: 0.5rem 0;
    box-sizing: border-box;
}

.scroll_numb {
    background-color: var(--btn_color);
    font-size: 2.4rem;
    color: var(--white);
    font-weight: 700;
    text-align: center;
}

.second_half>form {
    display: flex;
    width: 70%;
}

.second_half>form>div {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
    margin-left: 8rem;
    color: var(--black);
    font-size: 2rem;
    font-weight: 700;
}

.second_half>form>div>input {
    border-radius: 10px;
    height: 60px;
    width: 184px;
    border: 1px solid var(--black);
    padding: 0;
    box-sizing: border-box;
}

.second_half :last-child {
    display: flex;
}

.url_box {
    display: flex;
    margin: 2rem 18rem 2rem 8rem;
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--black);
    align-items: center;
}

.url_box>input {
    border: none;
    border-bottom: 1px solid var(--black);
    margin-left: 1rem;
    width: 358px;
}

.last_container>img {
    margin: 2rem 0;
    margin-right: 3rem;

}

.btn_box {
    display: flex;
    justify-content: end;
    margin: 1rem 0;
}

.btn_box>div:hover {
    cursor: pointer;
}

/* Invite Users 1 */

.cancel_btn {
    background-color: var(--border_color);
    text-align: center;
    padding: 1.4rem 2rem;
    width: 180px;
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
    border: 1px solid var(--border_color);
    box-sizing: border-box;
    margin-right: 0.1rem;
}

.add_btn1 {
    background-color: var(--btn_color);
    text-align: center;
    padding: 1.4rem 2rem;
    width: 240px;
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
    border: 1px solid var(--border_color);
    box-sizing: border-box;

}

.add_btn2 {
    background-color: var(--black);
    width: 55px;
    padding: 1.2rem;
    box-sizing: border-box;
}

.work_field_main {
    margin-left: 10rem;
    margin-right: 2rem;
    color: var(--border_color);
    font-weight: 400;
    font-size: 2rem;
}

.form_box {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.form_box>form {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.form_box input {
    margin-bottom: 2rem;
    padding: 1.5rem 4.5rem;
}

.form_box label {
    margin-left: 2rem;
}

.radio_box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 5rem;
    margin-right: 14rem;
}

.radio_box label {
    display: flex;
    align-items: center;
    width: 250px;
    margin: 1rem 0;
}


#radio1 {
    display: none;
}

#radio2 {
    display: none;
}

#radio1+label>.circle {
    display: inline-block;
    width: 37px;
    height: 37px;
    border: 1px solid var(--black);
    border-radius: 50%;
    box-sizing: border-box;
}

#radio1:checked+label>.circle {
    background-image: url(../img/marker.png);
    background-position: center;
    background-repeat: no-repeat;
}

#radio2+label>.circle {
    display: inline-block;
    width: 37px;
    height: 37px;
    border: 1px solid var(--black);
    border-radius: 50%;
    box-sizing: border-box;
}

#radio2:checked+label>.circle {
    background-image: url(../img/marker.png);
    background-position: center;
    background-repeat: no-repeat;
}

.radio_text {
    padding-left: 3rem;
    box-sizing: border-box;
}