body{
    margin: 0;
    background-color: #212529;
}
header{
    position: sticky;
    top: 0;
    background-color: #212529;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0 5%;
}
.header_list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.header_list_item{
    list-style: none;
    color: #ffffff;
    margin: 0rem 1rem;
    font-weight: 600;
    text-decoration: none;
}
.header_list_item:hover{
    color: #FFB742;
    cursor: pointer;
}
.hire_button{
    font-size: 1.4rem;
    background-color: #FFB742;
    border-radius: 3rem;
    width: fit-content;
    padding: 1rem 1.7rem;
    font-weight: 700;
}
.hire_button:hover{
    cursor: pointer;
}
main{
    margin: 0 5%;
}
.prew{
    margin: 5rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text_1{
    font-size: 2rem;
    color: #ffffff;
    font-weight: 700;
}
.kartik{
    border-bottom: 2px solid #FFB742;
    color: #FFB742;
}
.text_2{
    font-size: 3rem;
    color: #ffffff;
    font-weight: 700;
}
.text_3{
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 400;
    margin: 2rem 0rem;
}
.cards{
    display: flex;
    justify-content: space-around;
}
.card{
    background-color: rgba(56, 62, 69, 0.44);
    border-radius: 10px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: .5s;
}
.card:hover{
    background-color: #FFB742;
    cursor: pointer;
}
.card:hover .numb{
    color: #000000;
}
.card:hover .description{
    color: #000000;
}
.card_emblem{
    background-color: #E9E9E9;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    text-align: center;
    line-height: 6;
    margin: 1rem 0rem;
}
.card_text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.numb{
    font-size: 2rem;
    color: #FFB742;
    font-weight: 700;
}
.description{
    color: #ffffff;
    font-weight: 700;
}
.biography{
    margin: 5rem 0;
    display: flex;
}
.photo_man{
    background-image: url(../img/Mask\ group.png);
    background-repeat: no-repeat;
    background-position: 0.75rem 7rem;
}
.bio_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}
.bio_button1{
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 25px;
    color: #FFB742;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    width: fit-content;
}
.bio_title{
    font-size: 3rem;
    color: #ffffff;
    font-weight: 700;
}
.bio_text{
    color: #D4D4D4;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
    margin: 3rem 0;
}
.my_works{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my_works_button{
    color: #FFB742;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.25rem;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 3rem;
    padding: 0.5rem 1rem;
    width: fit-content;
}
.my_works_title{
    color: #ffffff;
    font-size: 3rem;
    font-weight: 700;
}
.my_works_list{
    display: flex;
    justify-content: center;
}
.my_works_list_item{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    margin: 0 2rem;
    list-style: none;
    padding: 0.5rem 1rem;
}
.my_works_list_item:hover{
    color: #000000;
    background-color: #FFB742;
    padding: 0.5rem 1rem;
    border-radius: 3px;
}
.works_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.work_card{
    margin: 1rem 1rem;
    width: 30%;
}
footer{
    background-color: #1C1C1C;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: flex-start;
}
.footer_sec:hover .footer_titles{
    color: #FFB742;
    font-size: 2rem;
}
.footer_titles{
    font-weight: 700;
    font-size: 1.5rem;
    color: #ffffff;
    transition: .5s;
}
.footer_lists{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
.footer_list_items{
    color: #7B7B7B;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem;
    transition: .5s;
    text-decoration: none;
}
.footer_list_items:hover{
    color: #D4D4D4;
}
