:root{
    font-size: 20px;
}
/*Заголовок сторінки*/
.title{
    width: fit-content;
    font-size: 2.4rem;
    margin: 18px auto 20px ;
}
.blue{
    color: #0BBBD3;
}
.aqua{
    color: #28CDE3;
}
.white{
    color: #FFFEFE;
}
/*Титулка*/
.bg_img{
    background-image: url(../img/Успенський\ собор\ 1.jpg);
    width: 100%;
    height: 852px;    
    background-repeat: no-repeat;
    padding: 12rem 0rem 0rem 4rem;
    box-sizing: border-box;
    
}
.prapor{
    background-image: url(../img/flag.png);
    width: 1.2rem;
    height: 70%;
    background-repeat: no-repeat;
    padding: 2rem 4rem;
    box-sizing: border-box;
}
.text{
    text-transform: uppercase;
    font-size: 3.2rem;
    color: #ffffff;
    line-height: 167.02%;
    width: 33rem;
}
/*Карточки з визначними місцями*/
.landmarks{
    font-size: 2.4rem;
    border-bottom:5px solid #33B8F1;
    width: fit-content;
    margin: 3rem;
}
.cards{
    margin-left: 3rem;
}
.card{
    width: 28%;
    height: 481px;
    background: #FFFEFE;
    box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: inline-block;
}
#card2{
    margin: 0% 7.5%;
}
.garden_img{
    width: 100%;
    height: 267px;
    background: url(../img/Сад-Шевченко-768x512\ 1.png);
    border-radius: 30px 30px 10px 10px;
    background-repeat: no-repeat;  
}
.garden_title{
    font-size: 1.8rem;
    color: #33B8F1;
}
.card_text{
    color: #000000;
    font-size: 1.6rem;
    width: 100%;
}
.boulevard_img{
    width: 100%;
    height: 267px;
    background: url(../img/Ейфелева.png);
    border-radius: 30px 30px 10px 10px;
    background-repeat: no-repeat;
}
.boulevard_title{
    color: #000000;
    font-size: 1.8rem;
    width: 100%;
}
.quay_img{
    width: 100%;
    height: 267px;
    background: url(../img/quay.png);
    border-radius: 30px 30px 10px 10px;
    background-repeat: no-repeat;
}
.quay_title{
    color: #000000;
    font-size: 1.8rem;
    width: 100%;
}
/*Серце підтримки*/
.Ukraine{
    font-size: 2.4rem;
    text-transform: uppercase;
    text-align: center;
}
.line{
    border-bottom:5px solid #33B8F1;
    width: 20rem;
    margin: 0 auto;
}
.heart{
    width: 100%;
    height: 877px;
    background: url(../img/heart.png);
    background-repeat: no-repeat;
    margin: 0rem 12rem;
}
.blue_box{
    background-image: url(../img/blue_box.png);
    margin: 0rem auto;
    width: 21.5rem;
    height: 3.7rem;
}
.support{
    font-size: 2.4rem;
    color: #ffffff;
    text-transform: uppercase;
}
.link_support{
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}
/*Нижній колонтитул(footer)*/
.footer{
    margin-top: 9rem;
    background-image: url(../img/footer.png);
    width: 100%;
    height: 405px;
}
.foot_title{
    font-size: 3.2rem;
    text-align: center;
}
.link_footer{
    color: #000000;
    text-decoration: none;
    text-align: center;
    font-size: 1.6rem;
    margin: 3rem;
}
.center{
    padding: 0rem 22rem;
}
.circle{
    background-image: url(../img/circle.png);
    width: 3.4rem;
    height: 3.2rem;
    padding: 0.5rem;
    box-sizing: border-box;
    display: inline-block;
}
#circ_space1{
    margin-left: 4rem;
}
#circ_space2{
 margin: 0rem 4rem;
}
.twit{
    width: 41px;
    height: 37px;
}
.telega{
    width: 52px;
    height: 47px;
}
.inst{
    width: 47px;
    height: 48px;
}
.facebook{
    width: 45px;
    height: 43px;
}