body{
    margin: 0;

}
.header_first{
    align-self: flex-start;
    color: grey;
    font-size: 1.5rem;
    font-weight: 700;
}
.header_first:hover{
    cursor: pointer;
}
.head_list{
    list-style-type: none;
    display: flex;
}
.head_list_item{
    color: #ffffff;
    margin: 0 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    transition: 0.5s;
}
.head_list_item:hover{
    cursor: pointer;
    font-size: 1.2rem;
}
main{
    width: 100%;
    min-height: 800px;
    max-height: 100vh;
    display: flex;
    justify-content: space-between;
}
.first_half{
    background-color: #ffffff;
    width: 55%;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.first_title{
    color: #000000;
    font-size: 1.6rem;
    font-weight: 700;
    align-self: flex-start;
    margin:5rem 0;
}
.forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.req_form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.location{
    display: flex;
    justify-content: flex-start;
}
.small_text_location{
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #c4c4c4;
    margin-left: .5rem;
}
label{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
}
input, select{
    display: block;
    width: 25rem;
    height: 2.5rem;
    border-radius: 10px;
    border: 1px solid #cccccc;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    padding: 0.5rem 1.5rem;
    box-sizing: border-box;
    margin: 0.5rem 0rem;
}
.area{
    margin: 1rem 0;
}
.pass_help{
    color: #cccccc;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
}
.button_sub{
    color: #ffffff;
    background-color: #27485D;
    border: 1px solid #284A5E;
    font-weight: 700;
    margin: 2rem 0;
    font-size: 1rem;
    transition: .5s;
    text-align: center;
}
.button_sub:hover{
    cursor: pointer;
    font-size: 1.5rem;
}
.under_text{
    display: flex;
    justify-content: center;
}
.text{
    color: #c4c4c4;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
}
.login_button{
    color: #476D73;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    text-decoration: underline;
    margin-left: 0.5rem;
    transition: .5s;
}
.login_button:hover{
    cursor: pointer;
    font-size: 1.5rem;
}
.second_half{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(162.21deg, #517879 4.83%, #1E3E57 103.44%);
    width: 45%;
    padding: 2rem 7rem;
    box-sizing: border-box;
}
.header_second{
    align-self: flex-end;
    justify-self: flex-start;
}
.second_title{
    font-size: 5rem;
    line-height: 7rem;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 5px 10px 5px #c4c4c4;
}
.ein{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 3rem;
    color: #ffffff;
}
.second_center{
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
}