body{
    margin: 0%;
}

header{
    background-color: #202846;
    top: 0;
    position: sticky;
    display: flex;
    justify-content:space-around;
}

.header_img{
    margin: auto 0rem;
}

.header_list{
    text-align: right;
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size:1rem ;
    margin: auto;
    padding: 1rem 2rem;
}

.header_img2{
    margin: auto 0rem;
}

.s_header1{
    background-color: #C6C6DC;
    color: #000000;
    font-size: 2rem;
    padding: 2rem 3rem;
}

main{
    margin: 5% 10%;
}

.list{
    background-color: #E8E8E8;
    background-image:url(../img/triangle.png);
    background-repeat: no-repeat;
    background-position: right;
    box-sizing: border-box;
    width: 100%;
    color: rgba(0, 0, 0, 0.61);
    line-height: 2.25rem;
    text-align: center;
}
section{
    display: flex;
    justify-content: space-around;
    background-color: #BDBDC6;
    margin: 3rem 0;
    padding: 1rem 5rem;
    box-sizing: border-box;
}

section:hover{
    background-color: #AEAEE2;
}
.star{
    margin: 1rem;
    fill: #E8E8E8;
}
section:hover .star {
    fill: #FFFF00;
}

section:hover .details_text {
    background-color: red;
}

.card_img1{
    background-image: url(../img/image\ 5.png);
    background-repeat: no-repeat;
    padding-left: 50%;
}
.card_img2{
    background-image: url(../img/image\ 4.png);
    background-repeat: no-repeat;
    padding-left: 50%;
}
.card_img3{
    background-image: url(../img/image\ 6.png);
    background-repeat: no-repeat;
    padding-left: 50%;
}
.card_img4{
    background-image: url(../img/image\ 7.png);
    background-repeat: no-repeat;
    padding-left: 50%;
}
.card_title{
    color: #353C57;
    font-size: 2rem;
    border-bottom: 3px solid #ffffff;
    margin-bottom: 1rem;
}
.card_text{
    color:#202846;
    background-color: #D7D7DD;
    padding: 2.5rem;
    text-align: center;
}
.top{
    width: 5rem;
    height: 5rem;
    background-color: rgba(0, 0, 255, .3);
    border-radius: 50%;
    position: fixed;
    bottom: 5rem;
    right: 1rem;
    transition: all .7s;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
    color: #FFFFFF;
    line-height: 4;
}
.top:hover{
    background-color: rgba(0, 0, 255, .8);
}
footer{
    position: sticky;
    bottom: 0;
    background-color: #202846;
    padding: 1rem;
    color: #ffffff;
    font-size: 1rem;
}
.details_container {
    text-align: right;
}

.details_text {
    position: relative; 
    top: -20px; 
    left: 144px; 
    background-color: hsla(227, 37%, 20%, 1); 
    color: white; 
    border-radius: 20px; 
    padding: 5px 35px; 
    font-size: 1.5em;
}